<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="default">
            <directory>phpunit/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">service</directory>
            <directory suffix=".php">command</directory>
        </whitelist>
    </filter>
</phpunit>
